/* NAVBAR CSS START */

.nav-item .nav-link {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 1px;
}

  .nav-item .nav-link.active, .nav-item .nav-link:hover {
    color: #fed136;
  }
/* NAVBAR CSS END */



  /*MEDIA START HERE -> responsive design*/

  @media (min-width: 992px)
  {
    .nav-item .nav-link
    {
      padding: 1.1em 1em!important;
    }

    .nav-item .nav-link.active, .nav-item .nav-link:hover
    {
      color: #fed136;
    }

  }


