<nav [@scrollState]="scrollInfo" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="row align-items-center rowWidth">
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12">
        <a class="navbar-brand js-scroll-trigger" href="#header">Template Web</a>
      </div>
      <div class="col-md-0 col-sm-0 col-0">
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="navbar-collapse collapse col-xl-8 col-lg-8 col-md-12 col-sm-6 col-6" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#agencyOverview">L'agence</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#agencyTeam">l'équipe</a>
            </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#listServices">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contactUs">Contact</a>
          </li>
          <li class="nav-item">
            <app-link-list></app-link-list>
          </li>
        </ul>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-2 col-2">
        <ul class="nav float-right">
          <li class="nav-item" *ngIf='!userIsAuthenticated'>
            <button label="Login" type="button" class="btn btn-primary logButton mr-1" (click)="onLogin()">Login</button>
          </li>
          <li class="nav-item" *ngIf='!userIsAuthenticated'>
            <button label="Signup" type="button" class="btn btn-primary logButton" (click)="onSignup()">Signup</button>
          </li>
          <li class="nav-item" *ngIf='userIsAuthenticated'>
            <button label="Logout" type="button" class="btn btn-primary logButton" (click)="onLogout()">LogOut</button>
          </li>
        </ul>
      </div>
    </div>
</nav>
