<nav [ngClass]="{'onTop': scrollInfo == 'onTop' }" class="navbar navbar-expand-lg fixed-top" id="mainNav">
  <div class="row align-items-center rowWidth">
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12">
      <a class="navbar-brand" href="#header">Template Web</a>
    </div>
    <div class="col-md-0 col-sm-0 col-0">
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="navbar-collapse collapse col-xl-8 col-lg-8 col-md-12 col-sm-6 col-6" id="navbarResponsive">
      <ul class="navbar-nav nav-pills align-items-center horizontalCenter">
        <li class="nav-item itemSpace">
          <a class="nav-link styleButton" [routerLink]="['/']" fragment="agencyOverview">L'agence</a>
        </li>
        <li class="nav-item itemSpace">
          <a class="nav-link styleButton" [routerLink]="['/']" fragment="agencyTeam">l'équipe</a>
          </li>
        <li class="nav-item itemSpace">
          <a class="nav-link styleButton" [routerLink]="['/']" fragment="listServices">Services</a>
        </li>
        <li class="nav-item itemSpace">
          <a class="nav-link styleButton" [routerLink]="['/']" fragment="portfolio">Portfolio</a>
        </li>
        <li class="nav-item itemSpace">
          <a class="nav-link styleButton" [routerLink]="['/']" fragment="contactUs">Contact</a>
        </li>
        <li class="nav-item itemSpace">
          <a class="nav-link styleButton" [routerLink]="['/', 'articleList']">Articles</a>
        </li>
        <!--
        <li class="nav-item">
           <app-link-list></app-link-list>
        </li>
        -->
      </ul>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12">
      <ul class="nav float-right">
        <li class="nav-item buttonSpace" *ngIf='!userIsAuthenticated'>
          <button label="Login" type="button" class="btn logButton" (click)="onLogin()">Log in</button>
        </li>
        <li class="nav-item buttonSpace" *ngIf='!userIsAuthenticated'>
          <button label="Signup" type="button" class="btn logButton" (click)="onSignup()">Sign up</button>
        </li>
        <li class="nav-item buttonSpace" *ngIf='userIsAuthenticated'>
          <button label="Logout" type="button" class="btn logButton" (click)="onLogout()">Log out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
