<div class="row justify-content-center">
  <div class="input-group col-lg-4 col-md-4 col-sm-4 col-4 p-0">
    <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="searchBtn"><i class="fas fa-search"></i></button>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-2 p-0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        AFFICHER
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">Nouveauté</a>
        <a class="dropdown-item">Création autonme</a>
        <a class="dropdown-item">Le street cred c'est ici</a>
      </div>
    </div>
  </div>
</div>
