<div class="contactUSpaddingMargin">
    <header class="masthead">
        <div class="container">
            <div class="intro-text text-center">
                <div class="intro-lead-in">Contact Us</div>
                <div class="intro-heading text-uppercase">Template web  is here to provide you with more information, answer any questions you may have and create an effective solution for your instructional needs.</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btnTellMeMore">Effectuer un devis</a>
            </div>
        </div>
    </header>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-6">
              <h5>Corporate Headquarters</h5>
              <span>Corporate Headquarters</span>
              <span>Achieve3000</span>
              <span>1985 Cedar Bridge Ave., Suite 3</span>
              <span>Lakewood, NJ 08701</span>
            </div>
            <div class="col-lg-4">
                <h5>General Contact</h5>
                <span>Toll-Free: 888-968-6822</span>
                <span>Phone: 732-367-5505</span>
                <span>Fax: 732-367-2313 </span>
                <span>Email: office@achieve3000.com</span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-6">
                <h5>Sales Info & Inquiries</h5>
                <span>Toll-Free: 800-838-8771</span>
                <span>Email: info@achieve3000.com</span>
            </div>
            <div class="col-lg-4">
                <h5>International Sales</h5>
                <span>Email: international@achieve3000.com</span>
                <span>Phone: 732-987-3669</span>
                <span>Schedule: Monday - Thursday 1:15 AM to </span>
                <span>9:00 PM ET | Friday 8:00 AM to 9:00 </span>
                <span>PM ET</span>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
        </div>
      </div>
    </div>
</div>
