.masthead {
  text-align: center;
  color: #000;
  background-image: url("/assets/img/mail.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.masthead .card span{
  color: #000;
}

.masthead .card-text{
  color: #000;
}
.header.masthead .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

.btnEnvoye {
  background-color: #fed136;
  border-color: #fed136;
  color: #000;
}

.btnEnvoye:hover {
  background-color: #fed136;
  animation: marked 150ms ease-out forwards;
}

@keyframes marked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.10);
  }

}

header.masthead .intro-text {
    padding-top: 100px;
    padding-bottom: 150px;
  }

header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }

header.masthead .intro-text .intro-heading {
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 50px;
  }

/*//////////////  HEADER CSS END ////////////////*/

agm-map {
  width: 100%;
  height: 100%;
}

.contactUSpaddingMargin{
  padding-top: 2%;
  margin-bottom: 5%;
  padding-bottom: 2%;
}

.imgTest{
  width: 100%;
}

.row p{
  line-height: 41px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #6c757d!important;
}

@media screen and (max-width: 992px) {
  .gmapDisplay{
    display: none;
  }
}

@media screen and (max-width: 768px) {

}
