<div class="contactUSpaddingMargin">
  <header class="masthead">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-4 intro-text">
          <h2>Contact us</h2>
          <div class="intro-heading">
            <p>
              Nous vous accueillons sur rendez-vous du lundi au vendredi de 9h30 à 12h30 et de 14h00 à 18h00.
              N'hésitez pas à utiliser notre formulaire pour toute demande de valorisation, de recrutement ou
              d'information. Nous vous répondrons dans les meilleurs délais.
            </p>
          </div>
        </div>
        <div class="col-xl-4 intro-text">
          <div class="card">
            <div class="card-body text-center">
              <img src="../../../../assets/img/bordeauxMap.JPG" alt="card image">
              <p class="card-text">ZinzinDuWeb:
                7 Place de Tourny
                33000 Bordeaux. <a href="https://www.google.fr/maps/place/2+Rue+de+la+Tour+de+Gassies,+33000+Bordeaux,+France/@44.8389557,-0.5722251,17z/data=!3m1!4b1!4m5!3m4!1s0xd5527ce3a3e13f3:0xe0d1049b657b8426!8m2!3d44.839012!4d-0.569803">Voir
                  le plan</a></p>
              <span><i class="fas fa-phone"></i> 06 99 46 47 30</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container mt-5">
    <div class="row">
      <h2>Vous désirez nous contactez par email ?</h2>
      <h3>Utilisez directement notre formulaire ci-desous ou blablabla@blabla.com</h3>
    </div>
    <form id="contactForm" (submit)="sendEmail(ContactUs)" class="needs-validation mt-5" novalidate #ContactUs="ngForm" enctype="multipart/form-data">
      <div class="row form-group">
        <div class="col-xl-2">
          <label for="nomEtPrenom">Prénom et nom</label>
        </div>
        <div class="col-xl-4">
          <input type="text" class="form-control" name="nomEtPrenom" placeholder="Entrez votre Prénom et Nom" ngModel required>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xl-2">
          <label for="societe">Société</label>
        </div>
        <div class="col-xl-4">
          <input type="text" class="form-control" placeholder="Entrer votre société" name="societe" ngModel>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xl-2">
          <label for="email">Adresse e-mail</label>
        </div>
        <div class="col-xl-4">
          <input type="email" class="form-control" name="email" placeholder="Entrez votre email" #emailInput="ngModel" ngModel required email>
          <div class="alert alert-danger" *ngIf="emailInput.invalid && emailInput.touched " >Valid email is required</div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xl-2">
          <label for="numTel">Numéro de téléphone</label>
        </div>
        <div class="col-xl-4">
          <input type="number" class="form-control" #phoneInput="ngModel" name="numTel" placeholder="Entrez votre numéro de téléphone" #phoneInput="ngModel" ngModel required>
          <div class="alert alert-danger" *ngIf="phoneInput.invalid && phoneInput.touched " >Valid phone number is required</div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xl-2">
          <label for="message">Message</label>
        </div>
        <div class="col-xl-4">
          <textarea form="contactForm" type="text" class="form-control" name="message" placeholder="Entrez votre message" ngModel required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary mt-4 btnEnvoye">Envoyé</button>
        </div>
      </div>
    </form>
  </div>
</div>
