.profileImg{
  max-width: 120px;
  max-height: 120px;
}

.customIcon{
  color: #fed136;
}

.row p{
  line-height: 41px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #6c757d!important;
}

.pt-10{
  padding-top: 8rem!important;
}

.profilCard{
  height: 320px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.btnTellProfil {
  color: black;
  background-color: #fed136;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 1px;
  border:none!important;
  border-radius: 8px;
}

.btnTellProfil:hover {
  background-color: #fed136;
  animation: marked 150ms ease-out forwards;
}

@keyframes marked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.10);
  }

}
