<div class="container pt-10 mt-5">
  <div class="row mb-5">
    <div class="col-xl-12 col-lg-12 text-center">
      <h2>Notre équipe</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
        <div class="card profilCard">
            <div class="card-body text-center">
                <p><img class="profileImg" src="../../../../assets/img/nicolas.jpg" alt="card image"></p>
                <h4 class="card-title">Nicolas Dubourg</h4>
                <p class="card-text">PGM, homme brillant, génis du beau jeu</p>
                <a href="" class="btn btn-primary btn-sm">Profil</a>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card profilCard">
            <div class="card-body text-center">
                <p><img class="profileImg" src="../../../../assets/img/antoine.jpg" alt="card image"></p>
                <h4 class="card-title">Antoine Rose</h4>
                <p class="card-text">PGM, homme brillant, génis du beau jeu</p>
                <a href="" class="btn btn-primary btn-sm">Profil</a>
            </div>
        </div>
      </div>
  </div>
</div>
