<div class="">
  <div class="container mt-5 mb-5 pt-10">
    <div class="row">
      <h2>L'agence</h2>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-12 p-0">
        <p>Fondée en 2019, Les zinzins du web est une web agency bordelaise spécialisée dans la conception de
          solutions numériques sur mesure.

          Notre agence est composée d'une équipe d'experts, de beau gosse, de PGM, Try harder, toxic players,
          directeur de production, chefs de projet, UX designer, web designer, développeurs full stack et
          développeurs back-end.

          Parce que nous voulons le meilleur pour nos clients, tous nos projets sont développés en interne, suivant
          des processus clairs et rigoureux.
        </p>
      </div>
      <div class="col-lg-5">
        <img class="imgTest" src="../../../../assets/img/agencyBuilding.jpg">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img class="imgTest" src="../../../../assets/img/team.jpg">
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="row">
          <h3>Une équipe à taille humaine</h3>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-6  mt-3 p-0 ">
            <p>Nous sommes une équipe de 2 PMG diplômés et certifié par les plus beau plays du game : stomp, rape,
              cassage de cul et mise en orbite.

              Notre agence est animée par des passionnés qui aiment allier bourrinage et suptilité pour rise to the
              top.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <img class="imgTest" src="../../../../assets/img/landscape.jpg">
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <img class="imgTest" src="../../../../assets/img/serrageDeMains.jpg">
      </div>
      <div class="col-xl-6 col-lg-6">
        <img class="imgTest" src="../../../../assets/img/chill.jpg">
      </div>
    </div>
  </div>
</div>
