:host {
  --myColor1: #FFFFFF;
  --myColor2: #6495ED;
  --myColor3: #33923C;
}

.navbar {
  background-color: var(--myColor1);
}
.navbar-brand {
  color: var(--myColor2);
}

nav .nav-link {
  color: var(--myColor2);
}

/*
nav .nav-link:hover {
  color: black;
}
*/
/*
.btn-group button{
  color: #6495ED;
}
*/

.bestFooterEver {
  background: var(--myColor3);
  color: azure;
  padding-top: 2%;
  padding-bottom: 2%;
}
