<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="home">Template Web</a>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#listServices">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="articleList">articles</a>
        </li>
      </ul>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary navbar-brand">Login</button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bestFooterEver mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h5>Sauvons la forêt</h5>
        <span>Nous agissons pour la préservation des forêts tropicales. Nos pétitions en ligne combattent les projets
          destructeurs et désignent les responsables par leur nom. Participez vous aussi à la protection des forêts
          tropicales !</span>
      </div>
      <div class="col-sm">
        <h5>Notre association</h5>
        <span>Qui sommes-nous ?
          Nos campagnes
          Contact
          Mentions légales</span>
      </div>
      <div class="col-sm">
        <h5>Participez</h5>
        <span>Signer une pétition
          Faire un don</span>
      </div>
      <div class="col-sm">
        <h5>Notre compte</h5>
        <span>2 rue de la tour de gassies 33000 Bordeaux</span>
      </div>
    </div>
  </div>
</footer>