/*General CSS*/

:host {
  --myColor1: #FFFFFF;
  --myColor2: #6495ED;
  --myColor3: #33923C;
  --myColor4: #212529;
}

.bestFooterEver {
  background: var(--myColor3);
  color: azure;
  padding-top: 2%;
  padding-bottom: 2%;
}


/* NAVBAR CSS START */

#mainNav{
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-transition: padding-top .3s,padding-bottom .3s;
  transition: padding-top .3s,padding-bottom .3s;
  border: none;
  background: var(--myColor4);
}

#mainNav .navbar-brand {
  font-size: 25px;
  font-weight: bold;
  transition: 0.4s;
  color: #fed136;
 }

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #fed136;}


#mainNav .navbar-nav .nav-item .nav-link {
  float: left;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-weight: 400;
  letter-spacing: 1px;
}

  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
  }
/* NAVBAR CSS END */



  /*MEDIA START HERE -> responsive design*/

@media (min-width: 1200px)
{
    .container {
      max-width: 1140px;
    }
}

@media (min-width: 992px)
{
  
  #mainNav.navbar-shrink 
  {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }

  .navbar-expand-lg .navbar-collapse 
  {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-nav 
  {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-lg 
  {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

  #mainNav .navbar-nav .nav-item .nav-link 
  {
    padding: 1.1em 1em!important;
  }

  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover 
  {
    color: #fed136;
  }

}


