.articleCreateMarge{
  margin-top: 15%;
  margin-bottom: 10%;
}

.image-preview{
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img{
  height: 100%;

}

#myImgCropped{
  max-width: 100%;
  margin-top: 20px;
}
