<div>
    <img src="assets/img/fdForet.jpg" style="width:100%">
</div>

<div class="container">

  <h2>Les forêts tropicales</h2>
  <p>
      Un océan verdoyant de fougères, de mousses, de lianes et d'arbres géants. Papillons chatoyants et oiseaux aux couleurs magnifiques. Fleurs de toutes les nuances de l'arc-en-ciel. La forêt tropicale est le plus divers, le plus complexe et le plus fascinant paradis terrestre. Un miracle naturel de notre planète !
  </p>

  <p>
      La forêt tropicale est l'habitat naturel ayant la plus grande biodiversité au monde. Mais elle est gravement menacée. Chaque année elle perd environ 150.000 kilomètres carrés, soit plus de 40 terrains de football par minute !
      Les arbres géants sont abattus pour l'industrie du bois et des meubles, ou pour faire place à des plantations immenses de palmiers à huile, de canne à sucre et de soja. Le poumon vert de la Terre disparait aussi à cause des mones d'or et de cuivre, de l'extraction de pétrole et des barrages électriques. Les conséquences sont dévastatrices :

      •   Environ la moitié des espèces animales et végétales vivent dans les forêts tropicales. Orang-outans, tigres et toucans ont besoin de la forêt pour survivre. A cause de la déforestation, 150 espèces disparaissent chaque jour.
      •   60 millions d'autochtones vivent dans et de la forêt pluviale. Ils utilisent ses ressources sans la détruire. Mais ils sont de plus en plus souvent expulsés et menacés.
      •   Les forêts pluviales sont essentielles pour la stabilité du climat et la conservation des sols. Leur destruction aboutit à encore plus d'émissions de CO2 dans l'atmosphère, d'inondations et de glissements de terrains.

      Telle est la réalité. Nous ne pourrons préserver les dernières forêts tropicales qu'avec votre aide !
  </p>
</div>
