<div id="card" class="card">
  <div class="post-module hover">
    <div class="thumbnail">
      <img [src]="article.img_irl"/>
    </div>
    <div class="post-content">
      <div class="category">Photos</div>
      <div>
        <h2 class="sub_title">{{ article.title }}</h2>
        <p class="description">{{ article.content }}</p>
      </div>
      <div class="row justify-content-center" *ngIf='userIsAuthenticated'>
        <div class="col-4">
         <app-ngbd-modal-component [article]="article"></app-ngbd-modal-component>
        </div>
        <div class="col-4 pl-0">
          <app-delete-button [articleId]="article.id"></app-delete-button>
        </div>
        <div class="col-4 pl-0">
          <app-get-article-details-button [articleId]="article.id"></app-get-article-details-button>
        </div>
      </div>
    </div>
  </div>
</div>
