<div id="card">
  <div class="post-module hover">
    <div class="thumbnail">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg" />
    </div>
    <div class="post-content">
      <div class="category">Photos</div>
      <div>
        <h2 class="sub_title">{{ article.title }}</h2>
        <p class="description">{{ article.content }}</p>
      </div>
      <div class="row justify-content-center" *ngIf='userIsAuthenticated'>
        <div class="col-4">
         <app-ngbd-modal-component [article]="article"></app-ngbd-modal-component>
        </div>
        <div class="col-4">
          <app-delete-button [articleId]="article.id"></app-delete-button>
        </div>
      </div>
    </div>
  </div>
</div>
