<div class="container serviceListMarginPadding">
  <div class="row">
    <div class="col-lg-12 text-center mb-5">
      <h2>Services</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
  </div>
  <!--
  <div class="row text-center" >
    <div *ngIf="serviceElements">
        <div class="row ">
            <app-service-element
            *ngFor="let serviceElement of displayServiceElements; let i = index"
            [@scrollAnimation]="state"
            (@scrollAnimation.done)="onItemAnimated($event, i)"
            class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 "
            [serviceElement]="serviceElement">
          </app-service-element>
        </div>
      </div>
  </div>
  -->
<div class="row text-center">
    <div class="col-md-4" [@scrollAnimationFromLeft]="state">
      <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading mb-4">E-Commerce</h4>
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
    </div>
    <div class="col-md-4" [@scrollAnimationFromBottom]="state">
      <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading mb-4">Responsive Design</h4>
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
    </div>
    <div class="col-md-4" [@scrollAnimationFromRight]="state">
      <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading mb-4">Web Security</h4>
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
    </div>
</div>
