<footer class="bestFooterEver mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-3 textFooter">
        <span>You can follow us on</span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-1">
        <i class="fab fa-facebook-square fa-5x"></i>
      </div>
      <div class="col-xl-1">
        <i class="fab fa-instagram fa-5x"></i>
      </div>
      <div class="col-xl-1">
        <i class="fab fa-twitter-square fa-5x"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <span>© 2018  ZinZinduWeb - Tous droits réservés</span>
      </div>
    </div>
  </div>
</footer>
