/* ////// START GENERAL CSS ///////*/

:host {
  --myColor1: #FFFFFF;
  --myColor2: #6495ED;
  --myColor3: #33923C;
  --myColor4: #212529;
  --myColor5: #817B82;
  --myColor6: #fed136;
}


.bestFooterEver {
  background: var(--myColor4);
  color: var(--myColor6);
  padding-top: 2%;
  padding-bottom: 2%;
}

.textFooter{
  font-style: italic;
  font-size: 1.5rem;
}

/* ////// END GENERAL CSS ///////*/
