<footer class="bestFooterEver mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h5>Sauvons la forêt</h5>
        <span>Nous agissons pour la préservation des forêts tropicales. Nos pétitions en ligne combattent les projets
          destructeurs et désignent les responsables par leur nom. Participez vous aussi à la protection des forêts
          tropicales !</span>
      </div>
      <div class="col-sm">
        <h5>Notre association</h5>
        <span>Qui sommes-nous ?
          Nos campagnes
          Contact
          Mentions légales</span>
      </div>
      <div class="col-sm">
        <h5>Participez</h5>
        <span>Signer une pétition
          Faire un don</span>
      </div>
      <div class="col-sm">
        <h5>Notre compte</h5>
        <span>2 rue de la tour de gassies 33000 Bordeaux</span>
      </div>
    </div>
  </div>
</footer>
