<div class="container mt-10">
  <div class="row justify-content-center pt-4">
    <div class="input-group mb-3 col-5">
      <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="searchBtn"><i class="fas fa-search"></i></button>
      </div>
    </div>
    <div class="col-1">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          AFFICHER
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">Nouveauté</a>
          <a class="dropdown-item">Création autonme</a>
          <a class="dropdown-item">Le street cred c'est ici</a>
        </div>
      </div>
    </div>
    <div class="col-1" style="margin-left: 2%">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          PAR
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">Prix</a>
          <a class="dropdown-item">Date</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5" style="overflow:hidden;">
    <div class="col-xl-12 text-center">
      <h3>Liste des articles</h3>
    </div>
    <div class="col-xl-12 text-center">
      <button routerLink="/articleCreate" routerLinkActive="router-link-active" type="button"
        class="btn btn-primary btn-sm">Ajouter un article</button>
    </div>
  </div>
  <div class="container pt-5" *ngIf="articles.length > 0">
    <div class="row">
      <div id="card" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let article of articles">
        <div class="post-module hover">
          <div class="thumbnail">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg" />
          </div>
          <div class="post-content">
            <div class="category">Photos</div>
            <div>
              <h2 class="sub_title">{{ article.title }}</h2>
              <p class="description">{{ article.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group" *ngIf="articles.length <= 0">
    <p class="p-3 mb-2 bg-warning text-dark">Aucun article pour le moment</p>
  </div>
</div>