<div class="modal-body">
  <div class="container">
    <div class="row">
      <h3>Création d'un article</h3>
    </div>

    <form class="needs-validation" novalidate (ngSubmit)="onUpdateArticle(articleForm)" #articleForm="ngForm">
      <input type="hidden" name="id" ngModel [ngModel]='this.id'>
      <div class="form-group">
        <div class="row">
          <label for="articleTitle">Titre de l'article</label>
        </div>
        <div class="row">
          <input type="text" class="form-control" name="title" placeholder="Entrer un titre" ngModel [ngModel]='this.title'
            required>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="articleContent">Contenu de l'article</label>
        </div>
        <div class="row">
          <textarea class="form-control" name="content" rows="4" ngModel [ngModel]='this.content' required></textarea>
        </div>
      </div>
      <div class="row align-items-center browseDiv">
        <div *ngIf="btnDeleteImgTrigged === false" class="col-lg-10 col-md-12 col-sm-12 col-10 custom-file">
          <input typ="hidden" type="text" name="img_irl" class="custom-file-input" [ngModel]='this.theDefaultImg'>
          <input disabled type="file" name="file" class="custom-file-input">
          <label class="custom-file-label" name="fileName">
            {{ myImgName }}
          </label>
        </div>
        <div *ngIf="btnDeleteImgTrigged === true" class="col-lg-10 col-md-12 col-sm-12 col-10 custom-file">
          <input type="file" name="file" class="custom-file-input" ngModel (change)="onGetFiles($event)">
          <label *ngIf="imgGotAnImg === true" for="file" class="custom-file-label">
            {{ imgName }}
          </label>
          <label *ngIf="imgGotAnImg === false" for="file" class="custom-file-label">
            choose a file (jpeg, jpg or png)
          </label>
          <p-toast key="wrongExtension" position="center"></p-toast>
          <p-toast key="SizeTooBig" position="center"></p-toast>
        </div>
        <div class=" buttonDeleteImage col-lg-2">
          <button type="button" (click)="deleteArticleImage(articleForm)" class="btn btn-danger"> supprimer </button>
        </div>
      </div>
      <div *ngIf="IGotAnUrl === true">
        <angular-cropper #angularCropper [cropperOptions]="croppeOptions" (export)="resultImageFun($event)" [imageUrl]="imageUrl"
          id="myImgCropper">
        </angular-cropper>
        <div class="row justify-content-center">
          <div class="col-4 p-0 mt-2">
            <button type="button" class=" btn btn-info btnCropMeDelete" (click)="CropMe()">CropMe</button>
          </div>
          <div class="col-4 p-0 mt-2">
            <button type="button" class=" btn btn-info btn-danger btnCropMeDelete" (click)="deleteImage()">Delete</button>
          </div>
        </div>
        <div class="container" *ngIf="iGotCropped === true">
          <div class="row">
            <img class="imgCropped mt-2 mb-2" id="myImgCropped" [src]="resultCroppedImg" />
          </div>
        </div>
      </div>
      <div class=" row modal-footer">
        <button type="submit" class="btn btn-outline-dark" placement="top" ngbPopover="Votre article a été mise à jour">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
      </div>
    </form>
  </div>
</div>
