<section id ="header">
<header class="masthead">
    <div class="container">
        <div class="intro-text text-center">
            <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btnTellMeMore" href="#services">Tell MeMore</a>
        </div>
    </div>
</header>
</section>
<section id="agencyOverview">
    <app-agency-overview></app-agency-overview>
</section>
<section id="agencyTeam">
  <app-agency-team></app-agency-team>
</section>
<section id="listServices">
    <app-services-list></app-services-list>
</section>
<section id="portfolio">
    <app-portfolio></app-portfolio>
</section>
<section id="contactUs">
  <app-contact-us></app-contact-us>
</section>
