<div id ="header" appSmoothScroll>
<header class="masthead">
  <div class="container">
      <div class="intro-text text-center">
          <div class="intro-lead-in">Welcome To Our Studio!</div>
          <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btnTellMeMore" href="#services">Tell MeMore</a>
      </div>
  </div>
</header>
</div>
<div id="agencyOverview" appSmoothScroll>
    <app-agency-overview></app-agency-overview>
</div>
<div id="agencyTeam" appSmoothScroll>
  <app-agency-team></app-agency-team>
</div>
<div id="listServices" appSmoothScroll>
    <app-services-list></app-services-list>
</div>
<div id="portfolio" appSmoothScroll>
    <app-portfolio></app-portfolio>
</div>
<div id="contactUs" appSmoothScroll>
  <app-contact-us></app-contact-us>
</div>
